## give write rights on the device to the audio group, in order to make it manageable with python-evdev without sudoing
# KERNEL=="event*", ATTRS{name}=="Griffin PowerMate", MODE="0660", GROUP="input" 
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="077d", ENV{ID_MODEL_ID}=="0410", RUN+="/opt/udev_scripts/powermated.sh"
