[submodule "common/bashlog"]
	path = common/bashlog
	url = https://github.com/elamperti/bashlog.git
[submodule "common/progressbar"]
	path = utils/common/progressbar
	url = https://github.com/elamperti/bash-progressbar.git
