GtkWindow#Main {
    background-color: #000000;
}

GtkWindow#Main .notebook {
    padding: 0px;
}

GtkWindow#Main .notebook tab GtkLabel {
    background-color: #0B0B0B;
    border-radius: 4px;
    color: #9FAFBF;
    padding-left: 8px;
    padding-right: 8px;
}

GtkWindow#Main .notebook tab {
    background-color: #101010;
    padding-left: 4px;
    padding-right: 4px;
}

GtkWindow#Main .notebook tab:active {
    /*background-color: #5EA6EA;*/
    background-color: #2E668A;
}

